h1 Pug - node template engine
#container.col
  if youAreUsingPug
    p You are amazing
  else
    p Get on it!
  p.
    Pug is a terse and simple templating language with a
    strong focus on performance and powerful features.
    what a  nice feature, very fast indeed.
    Harusnya si ini lebih cpt. klo lama? pasti ada sesuatu yg salah
  ul
    li satu - hmmm, di process semua
    li dua - apaya, apakah lama ya?
