<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include about.html %}

    {% include work.html %}

    {% include client.html %}

    {% include contact.html %}

    {% include form.html %}

    {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ "/scripts/main.min.js" | relative_url }}"></script>

<!--   <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script> -->
  </body>

</html>
